<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="DictionaryFolder" value="dic" />
    </appSettings>
	<system.web>
		<pages pageBaseType="System.Web.UI.Page" />
		<compilation debug="true" />
		<customErrors mode="Off" />
		
		<httpModules>
			<clear />
		</httpModules>
			
		<httpHandlers>
			<add verb="GET" 
				path="FtbWebResource.axd" 
				type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
		
		</httpHandlers>
	</system.web>      
</configuration>
