<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="SpellChecker.IgnoreAllCapsWords" value="True"/>
		<add key="SpellChecker.IgnoreHtml" value="True"/>
		<add key="SpellChecker.IgnoreWordsWithDigits" value="False"/>
		<add key="SpellChecker.MaxSuggestions" value="25"/>
		<add key="SpellChecker.Dictionary.DictionaryFolder" value="..\\..\\..\\..\\dic"/>
		<add key="SpellChecker.Dictionary.DictionaryFile" value=""/>
		<add key="SpellChecker.Dictionary.UserFile" value=""/>
	</appSettings>
</configuration>
