<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="WordDictionary.DictionaryFolder" value="..\\..\\..\\..\\..\\dic" />
		<add key="WordDictionary.EnableUserFile" value="True" />
		<add key="WordDictionary.UserFile" value="user.dic" />
		<add key="SpellChecker.IgnoreAllCapsWords" value="True" />
		<add key="SpellChecker.IgnoreHtml" value="True" />
		<add key="SpellChecker.IgnoreWordsWithDigits" value="False" />
		<add key="SpellChecker.MaxSuggestions" value="25" />
		<!-- Demo Files -->
		<add key="DemoHtmlFile" value="..\\..\\..\\..\\documents\\demo.html" />
		<add key="DemoRtfFile" value="..\\..\\..\\..\\documents\\demo.rtf" />
		<add key="DemoTxtFile" value="..\\..\\..\\..\\documents\\demo.txt" />
		<add key="DemoXmlFile" value="..\\..\\..\\..\\documents\\demo.xml" />
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="NetSpell.SpellChecker" value="3" />
		</switches>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="TextEditor" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextEditor.log" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
