<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="wordDictionary.DictionaryFolder" value="..\\..\\..\\..\\..\\dic" />
	</appSettings>
</configuration>